<footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url({{ asset('assets') }}/home/img/bg-img/cta.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area mb-100">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <h6>About Us</h6>
                        </div>

                        <img src="{{ asset('assets') }}/home/img/bg-img/footer.jpg" alt="">
                        <div class="footer-logo my-4">
                            <img src="{{ asset('assets') }}/home/img/core-img/logo.png" alt="">
                        </div>
                        <p>Sektöründe öncü ve güvenilirliğiyle South hizmetinizdedir.</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area mb-100">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <h6>Hours</h6>
                        </div>
                        <!-- Office Hours -->
                        <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex align-items-center justify-content-between"><span>Monday - Friday</span> <span>09 AM - 19 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Saturday</span> <span>09 AM - 14 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Sunday</span> <span>Closed</span></li>
                            </ul>
                        </div>
                        <!-- Address -->
                        <div class="address">
                            <h6><img src="{{ asset('assets') }}/home/img/icons/phone-call.png" alt=""> 05442907128</h6>
                            <h6><img src="{{ asset('assets') }}/home/img/icons/envelope.png" alt=""> eraslan.cansu.8@gmail.com</h6>
                            <h6><img src="{{ asset('assets') }}/home/img/icons/location.png" alt=""> Gülensu mahallesi Erdem sokak No:53 Maltepe/İstanbul</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->




            </div>
        </div>
    </div>

    <!-- Copywrite Text -->

</footer>
